doctype html
html(lang="es")
  head
    title Ajax-best-promise example
    link(href="example.css", rel="stylesheet", type="text/css")
  body
    h1 Ajax-best-promise example
    div
      button#start <big><b>S</b></big>tart
      ul
        li
          span suma
          input#p1(value="123")
          span +
          input#p2(value="9001")
          span =
          span#result.res_ok
          .err_no_esp#error_suma
        li
          span url inexistente. 
          span si recibiera un dato lo vería acá: 
          span#url_inex_then.err_no_esp
          span , pero espero un error acá: 
          span#url_inex_catch.res_ok
        li
          datos feos que van a ser rechazados por el servidor. Datos: 
          input#datos_feos(value="esto < 5 ó >4 a<b>c & esto ; feo '; drop table" style='width:300px')
          span si recibiera un dato lo vería acá: 
          span#datos_feos_then.err_no_esp
          span , pero espero un error acá: 
          span#datos_feos_catch.res_ok
        li
          datos paso a paso. Cantidad de pasos:  
          input#cantidad_pasos(value='4')
          span un error que no espero aparecería acá:
          span#paso_a_paso_err.err_no_esp
          span recibo:
          pre#pasos_recibidos
    h2 form
      form(method='post', action='/ejemplo/post/files', enctype="multipart/form-data")
        input(type='file', name='theFiles', value='select the file', multiple="multiple")
        br
        input(name='description', value='the description')
        br
        input(type='submit', value='ok submit')
    script(src='ajax-best-promise.js')
    script(src='example.js')
      