doctype html
html(lang="es")
  head
    title Ajax-best-promise example
  body
    h1 Ajax-best-promise example
    div
      button#start <big><b>S</b></big>tart
      input#p1(value="123")
      span +
      input#p2(value="9001")
      span =
      span#result
    #errores_no_esperados
    script(src='ajax-best-promise.js')
    script(src='example.js')
      