.err_no_esp{
    background-color:#fa8
}

.res_ok{
    background-color:#6d6
}

.res_partial{
    background-color:#dd2;
}

.progress-bar{
    width:400px;
    height:8px;
    border-radius:4px;
    background-color:#9AB;
}

.progress-bar .indicator{
    background-color:#FEB;
    width: 0%;
    height:8px;
}